@import './reset.css';

body {
    background: url(./img/b68a62573224fdce958545e18966a88d.png);
    background-size: cover;
}

.wrapper {
    width: 1030px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 20px;
}

.header__logo-img-orange {
    display: none;
}

.header__link:hover {
    color: #F26522;
}

.header__link:hover .header__logo-img-orange {
    display: block;
}

.header__link:hover .header__logo-img-white {
    display: none;
}

.wrapper_logo {
    display: flex;
    justify-content: space-around;
}

.wrapper__logo-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;

}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-text__first {
    font-family: Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
}

.logo-text__second {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;

}

.header__email {
    text-align: right;
    /* margin-top: 20px; */
}

.wrapper_information {
    display: flex;
    justify-content: space-around;
    height: 560px;
    width: 1030px;
}

.section-information__grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 61px 61px;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";     
}

.section-information__grid >a{
    text-decoration: none;
}

.section-information__grid-item-1 {
    grid-area: item1;
  
}

.section-information__grid-item-2 {
    grid-area: item2;
}

.section-information__grid-item-3 {
    grid-area: item3;
}

.section-information__grid-item-4 {
    grid-area: item4;
}

.section-information__grid-item-5 {
    grid-area: item5;
}

.section-information__grid-item-6 {
    grid-area: item6;
}

.image__heading {
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.image{
    position: relative;
}
.grid-item:hover .details-wrapper{
    display: flex;
    justify-content: space-between;
}
.grid-item:hover .image__heading{
    color: #F26522;
}

.details-wrapper {
    position: absolute;
    display: none;
    padding: 8px 16px 12px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: #F26522;
    color: #FFFFFF;
}

.price__from {
    font-family: Roboto;
    font-size: 10px;
}

.price__cost {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
}

.price-info__details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Roboto;
    font-size: 14px;
    padding-right: 16px;
}

.price-info__details::after {
    position: absolute;
    content: url('./img/arrow.svg');
    right: 0;
    bottom: 0;
}

.footer__information {
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}